<!DOCTYPE html>
<html>
{% load static %}
{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>foydalanish shartlari</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" type="text/css" media="screen" href="{% static 'css/main.css' %}" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
      integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
  </head>
  <body>
    <div class="container">
      <section class="modal">
        <div class="exit">
          <i class="fa-solid fa-xmark"></i>
        </div>
        <h1>MODAL</h1>
        <ul class="mobile-links">
          <li><a href="/about/">Biz haqimizda</a></li>
          <li><a href="/news/">Yangiliklar</a></li>
          <li><a href="/foydalanish/">Foydalanish shartlari</a></li>
        </ul>
      </section>
      <section class="logo">
        <a href="./">
          <div class="brend">
          ziyobobom.uz
        </div>
        </a>
        <h1>
          HUQUQIY MASLAHAT - BEPUL,TEZKOR, HAMMAGA!
        </h1>
      </section>
      <section class="navbar">
        <div class="links">
          <ul class="menu-icon">
            <li></li>
            <li></li>
            <li></li>
          </ul>
          <ul class="desktop-links">
           {% if LANGUAGE_CODE != 'uz-latn' %}
            <li><a href="/{{LANGUAGE_CODE}}/biz-haqimizda/">Biz haqimizda</a></li>
            <li><a href="/{{LANGUAGE_CODE}}/yangiliklar/">Yangiliklar</a></li>
            <li><a href="/{{LANGUAGE_CODE}}/foydalanish-shartlari/">Foydalanish shartlari</a></li>
            {% else %}
            <li><a href="/biz-haqimizda/">Biz haqimizda</a></li>
            <li><a href="/yangiliklar/">Yangiliklar</a></li>
            <li><a href="/foydalanish-shartlari/">Foydalanish shartlari</a></li>
            {% endif %}
          </ul>
        </div>
        <select class="language">
          <a href="{% url 'set-language' 'uz-latn' %}">Lotin</a>
          <a href="{% url 'set-language' 'en' %}">En</a>
          <a href="/set_language/ru/">Ru</a>
          </select>
      </section>
      <section class="condition">
        <div class="left">
          <h3>{{bolim.nom}}</h3>
          <div class="left-info">

            <div class="accardion">
              {% for mavzu in mavzular %}
              <div class="accardion-title">
                {{mavzu.nom}}
                <i class="fa-solid fa-circle-minus minus"></i>
                <i class="fa-solid fa-circle-plus plus"></i>
              </div>
              {% endfor %}
              <div class="accardion-info">
                <ul>
                  {% if dars in darslar %}
                  <li>
                    <a href="/qabul/">
                      <i class="fa-solid fa-file-word"></i>
                      {{dars.nom}}
                    </a>
                  </li>
                  {% endif %}
                </ul>
              </div>
            </div>

          </div>
        </div>
        <div class="right">
          <h3>Bo'limlar</h3>
          {% for i in bolimlar %}
          <a href="/bolim/{{bolim.id}}/" class="card active">
            <i class="fa-solid fa-user-large"></i> {{i.nom}}
          </a>
          {% endfor %}
<!--          <a href="#" class="card">-->
<!--            <i class="fa-solid fa-user-large"></i> Mehnat munosabatlari-->
<!--          </a>-->
<!--          <a href="#" class="card">-->
<!--            <i class="fa-solid fa-user-large"></i> Mehnat munosabatlari-->
<!--          </a>-->
<!--          <a href="#" class="card">-->
<!--            <i class="fa-solid fa-user-large"></i> Mehnat munosabatlari-->
<!--          </a>-->
        </div>
      </section>
      <section class="footer">
        <div class="footer-nav">
          <ul>
            <li>Sayt xaritasi</li>
            <li>Aloqalar</li>
            <li>Vakansiya</li>
            <li>Reglament</li>
            <li>Reklama</li>
            <li>Foydalanish shartlari</li>
          </ul>
          <div class="social">
            <i class="fa-brands fa-telegram"></i>
            <i class="fa-brands fa-facebook"></i>
            <i class="fa-brands fa-instagram"></i>
            <i class="fa-brands fa-youtube"></i>
          </div>
        </div>
      </section>

      <section class="about-me">
        <div>
          © 2019-2021 “Madad” muassasa shaklidagi nodavlat notijorat tashkiloti
        </div>
        <div>
          <i class="fa-brands fa-google-play"></i>
          <b>Google Play</b>
        </div>
      </section>
    </div>
  </body>
  <script src="{% static 'js/main.js' %}"></script>
</html>
